html{
    margin: 0;
    padding: 0;
    border: 0;
    
}
body{
	font-family: Piazzolla;
	font-size: 18px;
	width: 100%;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
}
header{
	background: rgba(6,44,46);
	height: 100px;
}

.title-vip{
	display:block;
	position:absolute;
	top: 38%	;
	left: 38%	;
	font-size: 120px;
	font-weight: 500;
	
}

.form-inline input{
	height: 38px;
	width: 85%;
	border: none;
	padding-left: 10px;
}

.carousel-caption{
color:black;
}

.form-inline input:focus, .form-inline input:active, .form-inline input{
	outline: 0;
	outline-style: none;
	outline-width: 0;
	border-radius: 10px 0px 0px 10px;
}
.row{
	width: auto;
	height: 400px;
	margin: 0;
}
.col{
  border: 5px solid ;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.col img {
	max-width: 100%;
  	height: 100%;
  	background-color: black;
  	opacity: 0.9;
}
.p{
	color:black !impo ;
}



@media screen and (max-width: 800px){
	.form-inline {
	width: 0%; 
	height: 40px;
	background-color: none;
	border: 1px solid rgba(6,44,46);
	margin-left: 130px;
}
	.rol img{
		width: 800px;
	}
	.poster img{
		width: 800px;
	}
}
.banner {
    background-color: none;
    min-height: 100px;
    background-size: cover;
    text-align: center;
    padding-top: 70px;
    width: 100%;

}